{% extends "base.html" %}
{% block content %}

<div class="container">

  <h1>Item Details</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <!--        <th>ID</th>-->
          <th>Store Name</th>
          <th>Description</th>
          <!--        <th>URL</th>-->
          <TH>target price</TH>
          <th>Admin Actions</th>
        </tr>
      </thead>

      {% for item in items %}
      <tr>
        <!--      <td>{{item._id}}</td>-->
        <td>{{ item.store_name }}</td>
        <!--      <td><a href="{{ item.item_url }}" target="_blank">{{ item.item_desc }}</a></td>-->
        <td><a href="{{ item.item_url }}" target="_blank">{{ item.item_desc }}</a></td>
        <td>{{ item.target_price }}</td>
        <td><a class="button buttonblue" href="{{ url_for('edit_item', item_id=item._id) }}">Update</a> <a
            class="button buttonred" href="{{ url_for('delete_item', item_id=item._id) }}"
            onclick="return confirm('Are you sure?')">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>


  <h2>Item Price History:</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <!--        <th>Unique ID</th>-->
          <th>Date</th>
          <!--        <th>URL</th>-->
          <TH>price</TH>
          <!--        <TH>item_id</TH>-->
        </tr>
      </thead>
      {% for item in prices %}
      <tr>
        <!--      <td><a href="{{ url_for('details', item_id=item._id) }}">{{item._id}}</a></td>-->
        <td>{{ item.script_time }}</td>
        <!--      <td>{{ item.item_url }}</td>-->
        <td>{{ item.price }}</td>
        <!--      <td>{{ item.item_id }}</td>-->
      </tr>
      {% endfor %}
    </table>
  </div>


</div>
{% endblock %}