{% extends "base.html" %}
{% block content %}

<div class="container">



  <h1>Items Tracked</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <!--        <th>ID</th>-->
          <th> </th>
          <th>Description</th>
          <!--        <th>URL</th>-->
          <th>Latest price</th>
          <TH>target price</TH>
          <th>Cheapest price</th>
          <th>Store Name</th>
        </tr>
      </thead>

      {% for item in items %}
      <tr>
        <!--      <td>{{item._id}}</td>-->
        <td><a class="button" href="{{ url_for('details', item_id=item._id) }}">Details</a> </td>
        <td><a href="{{ item.item_url }}" target="_blank">{{ item.item_desc }}</a></td>
        <td>{{ item.latest_price }}</td>
        <td>${{ item.target_price }}</td>
        <td>{{ item.cheapest_price}}</td>
        <td>{{ item.store_name }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <p>
    <a href="{{ url_for('check_price_selenium') }}" ; onclick="$('#loading').show();">Check latest Price</a>

  <div id="loading" class="loader" style="display:none;"></div>
  <!--    https://blog.lavgupta.com/2011/12/jquery-modal-waiting-dialog.html-->

  </p>

  <h2>Add new price to Track</h2>

  <form action="/home" method="POST">
    <div class="form-group">
      <label for="store_name">Store Name</label>
      <input type="te" class="form-control" name="store_name" id="store_name" aria-describedby="emailHelp"
        placeholder="Enter store name" value="Amazon">
    </div>
    <div class="form-group">
      <label for="item_desc">Description</label>
      <input type="text" class="form-control" name="item_desc" id="item_desc" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="item_url">Item URL</label>
      <input type="text" class="form-control" name="item_url" id="item_url" placeholder="item url"
        value="https://www.amazon.com/dp/<inserid>">
    </div>

    <div class="form-group">
      <label for="target_price">Target Price</label>
      <input type="text" class="form-control" name="target_price" id="target_price" placeholder="price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>







</div>
{% endblock %}