{% extends "base.html" %}
{% block content %}

<div class="container">

  <h2>Add new price to Track</h2>

  <form action="/home" method="POST">
    <div class="form-group">
      <label for="store_name">Store Name</label>
      <input type="te" class="form-control" name="store_name" id="store_name" aria-describedby="emailHelp"
        placeholder="Enter store name">
    </div>
    <div class="form-group">
      <label for="item_desc">Description</label>
      <input type="text" class="form-control" name="item_desc" id="item_desc" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="item_url">Item URL</label>
      <input type="text" class="form-control" name="item_url" id="item_url" placeholder="item url">
    </div>

    <div class="form-group">
      <label for="target_price">Target Price</label>
      <input type="text" class="form-control" name="target_price" id="target_price" placeholder="price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="{{ url_for('check_price_selenium') }}" ; onclick="$('#loading').show();">Get latest Price</a>

  <div id="loading" class="loader" style="display:none;"></div>
  <!--    https://blog.lavgupta.com/2011/12/jquery-modal-waiting-dialog.html-->


  <br /> <br />


  <h2>Items to Track</h2>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Store Name</th>
         <th>Description</th>
        <th>URL</th>
        <TH>target price</TH>
      </tr>
    </thead>

    {% for item in items %}
    <tr>
      <td>{{item._id}}</td>
      <td>{{ item.store_name }}</td>
      <td>{{ item.item_desc }}</td>
      <td><a href="{{ item.item_url }}" target="_blank">{{ item.item_url }}</a></td>
      <td>{{ item.target_price }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2>Price History:</h2>


  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Script Time</th>
        <th>URL</th>
        <TH>price</TH>
      </tr>
    </thead>
    {% for item in prices %}
    <tr>
      <td>{{item._id}}</td>
      <td>{{ item.script_time }}</td>
      <td>{{ item.item_url }}</td>
      <td>{{ item.price }}</td>
    </tr>
    {% endfor %}
  </table>

</div>
{% endblock %}